<h1> {{ activatedRoute.snapshot.data.title }}</h1>

<form>
    <div class="form-group" style="text-align: center">
    <label for="email">E-mail: </label>
    <input type="text"
      class="form-control"
      name="email"
      id="email"
      [(ngModel)]="signUpModel.email"
      (change)="validateEmail($event)">
    <p *ngIf="emailInvalid"
      style="color: red">Invalid email address!</p>
    <br>
    <label for="fullname">Fullname: </label>
    <input type="text"
      class="form-control"
      name="fullname"
      id="fullname"
      [(ngModel)]="signUpModel.fullname"
      (blur)="validateFullname($event)">
    <p *ngIf="fullnameInvalid"
      style="color: red">Fullname must start with uppercase!</p>
    <br>
    <label for="password">Password: </label>
    <input type="text"
      class="form-control"
      name="password"
      id="password"
      [(ngModel)]="signUpModel.password"
      (keypress)="validatePassword($event)">
    <p class="{{passwordInvalid}}">{{passwordInvalid}}</p>
    <br>
    <button (click)="signUp()">Sign Up</button>
  </div>
</form>

